@model IEnumerable<DapperORM_MVC.Domain.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-center m-4">
    <div class="col-8">
        <div class="row">
            @for (var i = 0; i < Model.ToList().Count; i++)
            {
                var item = Model.ToList()[i];
                <div class="col-4">
                    <div class="card bg-dark rounded-0 text-white" style="width: 18rem;">
                        <img src="https://placeholder.com/200x200" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="card-text">@item.UnitPrice$</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
